@model Bookshelf.Web.ViewModels.Account.ProfileAccountViewModel;

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <img src="@Html.DisplayFor(model => model.Image)" alt="Imagem do usuário" class="img-fluid rounded-circle"
                 height="175" width="175">
            <br />
            <dl class="dl-horizontal">
                <dt>
                    Nome:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    Nome de usuário:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt>
                    E-mail:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="UserName" />
                <button type="submit" class="btn btn-danger">Apagar a conta</button>
                <a class="btn btn-primary" asp-action="ChangePassword">Mudar a senha</a>
                <a class="btn btn-secondary" asp-action="Logout">Logout</a>
            </form>
        </div>
    </div>
</div>