@model Bookshelf.Web.ViewModels.Reading.DetailsReadingViewModel;

<h1>Atualizar os dados da leitura</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Atualização</h2>
                    <form class="form-control" asp-action="Update">
                        <input asp-for="@Model.Id" type="number" hidden />
                        <p>
                            <label class="form-label" asp-for="PagesRead">Páginas lidas:</label>
                            <input class="form-control" asp-for="PagesRead" type="number" min="0" max="@Model.Pages" />
                        </p>
                        <p>
                            <label class="form-label" asp-for="ReadingStatus">Status da leitura:</label>
                            <select asp-for="ReadingStatus" class="form-select">
                                <option value="0" selected>Não lido</option>
                                <option value="1">Lendo</option>
                                <option value="2">Deseja ler</option>
                            </select>
                        </p>
                        <p>
                            <label class="form-label" asp-for="Rate">Avaliação:</label>
                            <input class="form-control" type="number" asp-for="Rate" min="0" max="5" />
                        </p>
                        <p>
                            <label class="form-label" asp-for="Review">Resenha:</label>
                            <textarea class="form-control" asp-for="Review" rows="3"></textarea>
                        </p>
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>