@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
</div>

<div class="container-md">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-controller="Book" method="get">
                <div class="input-group">
                    <input type="search" class="form-control" id="query" name="query" placeholder="Pesquisar livros pelo título, ISBN ou autor" aria-label="Pesquisa" />
                    <button type="submit" class="btn btn-outline-success">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
</div>
